.contact-image {
  background-position: 50%;
  background-image: url('https://mdbootstrap.com/img/new/textures/full/284.jpg');
  height: 300px;
}

.contact-image-2 {
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}
